/*----------GLOBAL VARIABLES------------*/
/*
:root{
    --main-bg-color: rgb(255, 255, 200);
    --main-nav-color: rgb(100, 100, 100);
    --a-color: rgba(210, 125, 65, 0.5);
    --a-hover-color: rgba(210, 105, 30, 1);
}
*/
/*----------MAIN SETTINGS------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background: none;
    color: black;
    scroll-behavior: smooth;
}
body{ background-color: var(--body-bg-color); }
li{ list-style: none; }
a{ text-decoration: none; }
/*-------LOGO--------*/
.logo{
    margin-left: 60px;
    display: flex;
}
.logo img{
    width: 64px;
    height: 64px;
}
.logo a{height: 64px;}
/*----------HORNÍ NAVIGAČNÍ BAR------------*/
.nav-top{
    display: flex;
    justify-content: space-between;
    background: var(--main-nav-color);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
}
.nav-links-top{
    margin-top: 15px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    width: auto;
}
.nav-links-top a{
    padding:10px 15px;
    display: inline-flex;
    width: auto;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 8px;
}
/*----------HORNÍ TEXT------------*/
.header{
    position: fixed;
    z-index: 2;
    top: 5px;
    left: 185px;
    display: flex;
    justify-content: flex-start;
}
.header div{
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
}
/*-------MAIN--------*/
.div-main{
    margin: 80px 20%;
    padding-bottom: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: large;
    border: solid rgba(0, 0, 0, 0.5) 1px;
    border-radius: 0 0 100px 100px;
    font-size: larger;
    background: var(--div-main-bg-color);
}
.h{ /* nadpisy */
    padding: 5px;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: var(--h-bg-color);
    border-bottom: solid black 1px;
    border-top:  solid black 1px;
}
/*----------CLASSES FOR JS------------*/
.js-style{
    background: var(--hover-color);
    color: var(--a-hover-color);
    border: rgba(0, 0, 0, 0.05) solid 0.5px;
}