/*----------GLOBAL VARIABLES------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root{
    /*---NAV-BAR---*/
    --temp-nav: 94,119,3; /*this sets nav color*/
    --main-nav-color: rgb(var(--temp-nav));
    --bg-transition-color: rgba(var(--temp-nav), 0.8);
    /*--hover-color: rgba(105, 105, 105, 0.4);*/

    /*---BODY---*/
    --body-bg-color: beige;
    --bg-tree-color: #65350F;

    /*---BUTTONS---*/
    --a-bg-color: rgba(255, 220, 160);
    --a-hover-color: beige;

    --butt-bg-color: #bc4555;

    /*---MAIN-CONTENT---*/
    --div-main-bg-color: #E1C699;
    --h-bg-edge-color: #825a32;
    --h-bg-center-color: #aa783c;

    /*DIMESIONS*/
    --div-main-width: 1024px;
    --global-transition: all 0.6s;
}
