/*----------GLOBAL VARIABLES------------*/
:root{
    /*---NAV BAR---*/
    --temp-nav:135, 175, 75; /*this sets nav color*/
    --main-nav-color: rgb(var(--temp-nav));
    --bg-transition-color: rgba(var(--temp-nav), 0.8);
    --hover-color: rgba(105, 105, 105, 0.4);

    /*---BODY---*/
    --body-bg-color: rgb(240, 190, 80);

    /*---BUTTONS---*/
    --a-bg-color: rgba(255, 220, 160);
    --a-div-bg-color: rgba(255, 105, 30);
    --a-hover-color: beige;
    --a-hover-bg-color: rgba(250, 165, 0);

    /*---input---*/
    --text-area-color: rgb(245, 245, 230);
    --butt-bg-color: rgb(130, 205, 225);

    /*---other---*/
    --div-main-bg-color: rgb(150, 170, 210);
    --h-bg-color: rgb(110, 90, 150);
    --error-color: rgba(255, 0, 0, 0.7);
    --error-bg-color: lightgrey;
}
