/*----------MAIN SETTINGS------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /*
    font-family: dederon-serif-web, serif;
    font-style: normal;
    font-weight: bold;
    */
    background: none;
    color: black;
    scroll-behavior: smooth;
}
body{background: var(--body-bg-color);  }
li{ list-style: none; }
a{ text-decoration: none; }
/*----------BUTTON ARROW UP------------*/
.material-icons { font-size: 36px; }
.btn-to-top{
    opacity: 0;
    z-index: 0;
    position: fixed;
    margin-left: calc(var(--div-main-width)/2 - 25px);
    bottom: 180px;
    width: 50px;
    height: 50px;
    border-radius: 15%;
    background: var(--butt-bg-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.1s linear;
}
/*----------HORNÍ NAVIGAČNÍ BAR------------*/
.nav-top{
    display: flex;
    justify-content: flex-end;
    background: var(--main-nav-color);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 160px;
    transition:var(--global-transition);
}
.nav-links-top{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    transition:var(--global-transition);
}
.nav-links-top a{
    padding:10px 15px;
    display: inline-flex;
    width: auto;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 8px;
}
/*----------HORNÍ TEXT------------*/
.header{
    line-height: 160px;
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 190px;
    display: flex;
    justify-content: flex-start;
}
.header div{
    padding-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    transition:var(--global-transition);
}
#head1{margin-top: -48px;}
#head2{ margin-top: 0px; }
#head3{ margin-top: 48px; }
#head4{
    font-size: 60px;
    padding-left: 20px;
}

/*-----------LEVÝ NAVIGAČNÍ BAR-----------*/
.nav-left{
    z-index: 2;
    top: 0px;
    position: fixed;
    width: 180px;
    height: 100%;
}
.logo{
    margin-left: 20px;
    display: flex;
    transition: 0.4s ease-in;
    width: 160px;
    height: 160px;
}
.div-left{
    /*padding: 10px 0 0 20px;*/
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background:var(--main-nav-color);
    transition:var(--global-transition);
}
.hamburger{display: none;}
.invisible{
    transition:var(--global-transition);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.invisible > a{
     text-align: left;
    padding: 0px 0 0 30px;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 28px;
    /*text-transform: uppercase;*/
}
.div-left ul{
    display: block; /* tady zmizeli */
    padding-left: 25%;
    font-size: 20px;
    text-align: left;
}
.div-left ul a{
    box-shadow: none;
}
/*----------HLAVNÍ ČÁST------------*/
.div-main{
    background: linear-gradient(90deg, var(--body-bg-color) 47.5%, rgba(0, 0, 0, 0) 45%), linear-gradient(90deg, var(--bg-tree-color) 52.5%, var(--body-bg-color) 52.5%) ;
    margin: 180px 0 0px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sekce{
    /*border-top: solid black 1px;*/
    position: relative;
    z-index: 1;
    height: auto;
    margin-bottom: 15px;
    width: var(--div-main-width); /*width: auto; importante*/
}

.div-base{display: flex;}
.info{
    padding: 100px 10px;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    width: 33%;
}
.content, .grid, .div-base, #poster, .pictures{ /*zaobléní sekcí*/
    background: var(--div-main-bg-color);
    border-radius: 0 0 75px 75px;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
}
#poster{
    text-align: center;
    border-radius: 0;
    height: var(--div-main-width); /*needed to not overfit img*/
}
.content, #pivovary .grid{padding-bottom: 50px;}
.h{
    text-align: center;
    border: rgba(0, 0, 0, 0.1) 0.5px solid;
    border-radius: 2px;
    margin: 0;
    padding: 10px 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background: linear-gradient(0deg, var(--h-bg-edge-color) 0%, rgba(0, 0, 0, 0) 40%), linear-gradient(0deg, var(--h-bg-center-color) 60%, var(--h-bg-edge-color) 100%);
}
/*-----GALERIE-----*/
#galerie{

}
.pictures{
    display: flex;
    justify-content: space-evenly;

    padding: 50px 5px;
}
#galerie img{
    transition: 0.5s;
    padding: 5px;
}
#galerie img:hover{
    transform: scale(1.1);
}
/*-----KAPELY-----*/
#kapely div div{
    font-size: 22px;
    padding:15px 50px;
    font-weight: bold;
    overflow: auto;
}
#kapely ul{
    font-size: 20px;
    margin-left: 10px;
}
.sekce ul li{font-weight: normal;}
.href-bands{text-decoration: underline ;}
#kapely img{
    padding-right: 10px;
    float: left;
    max-height: 120px;
    max-width: 210px;
}
/*LOGA+ODKAZY se liší, proto nejsou zde*/
.nav-bottom{
    display: flex;
    flex-direction: column;
    background: var(--bg-transition-color);
    z-index: 3;
    bottom: 0;
    margin-left: 180px;
    right: 0;
    height: auto;
}
.box{
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 10px;
}
.box div{
    padding-left: 15%;
    width: 50%;
}
.box h3{
    text-transform: uppercase;
    padding: 2px 0;
}
.footer{
    text-align: center;
    bottom: 0;
    padding: 0px 30% 10px;
}
/*----------CLASSES FOR JS------------*/
.nav-top.scrolled{
    margin-top: -96px;
    background: var(--bg-transition-color);
    transition: var(--global-transition);
}
.nav-top.scrolled .nav-links-top{
    margin-top: 116px;
    transition: var(--global-transition);
}
.logo.scrolled {
    transform: scale(0.4);
    transform-origin: top;
    transition: 0.4s;
}
.div-left.scrolled{
    margin-top: -96px;
    background: var(--bg-transition-color);
    transition:var(--global-transition);
}
.hamburger.scrolled, .nav-left.clickBurger.scrolled .invisible{background: var(--bg-transition-color);}
.header.scrolled #head1,.header.scrolled #head2,.header.scrolled #head3, .header.scrolled #head4{
    padding-left: 20px;
    font-size: 40px;
    margin-top: 0px;
    transition:var(--global-transition);
}
.header.scrolled{line-height: 64px;}
.btn-to-top.scrolled{
    z-index: 2;
    opacity: 1;
    transform: translateX(60px);
}
.js-style{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    color: var(--a-hover-color);
}
.div-left li a.js-style, .href-bands.js-style{
    background: initial;
    box-shadow: none;
}

.nav-left.clickBurger{width: 180px;}
.nav-left.clickBurger .invisible{
    display: flex;
    background: var(--main-nav-color)
}

/*----------@MEDIA------------*/
@media(max-width: 1350px){/*dodělat*/
    .header div, .header.scrolled #head1,.header.scrolled #head2,.header.scrolled #head3, .header.scrolled #head4{
        font-size: 30px;
        padding-left: 10px;
    }
    #head4{font-size: 40px;}
    .div-left, .div-left.scrolled{
        background: none;
        text-align: start;
    }
    .nav-left{width: 56px;}
    .div-main{margin-left: 0;}
    .nav-bottom{margin-left: 0;}
    .invisible{display: none;}
    .hamburger{
        background: var(--main-nav-color);
        transition:var(--global-transition);
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
}
@media(max-width: 1175px){
    .btn-to-top{display: none;}
}
@media(max-width: 1100px){
    
}