body {
    background-image: none;
    font-family: monospace;
    font-style: normal;
    color: black !important;
}
.nav-top, .nav-left, .nav-bottom, .header{
    display: none;
}
#poster{
    max-width: 100%;
    height: auto;
}