/*----------MAIN SETTINGS------------*/
.window{
    padding: 0;
    width: 35%;
}
#back{
    height: 10%;
    width: 20%;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    background: var(--a-bg-color);
    text-transform: uppercase;
    border: solid rgba(0, 0, 0, 0.3) 0.5px;
    border-radius: 5%;
    text-align: center;
}
.info{font-weight: bold;}
#login{
    display: flex;
    flex-direction: column;
    margin: 0 20px 10px 20px;
}
#login input{
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    background: var(--text-area-color);
}
#submit{
    width: 25%;
    align-self: center;
}
.message{font-size: 18px;}
.message a{color: var(--text-area-color);}
#login #submit{background: var(--butt-bg-color);}
.warning p{
    margin: 5px;
    text-align: start;
    font-size: 22px;
    font-weight: bold;
    color: var(--error-color);
    width: 100%;
}
/*----------FOR JS------------*/
#back.js-style{
    background: var(--a-hover-bg-color);
    color: var(--a-hover-color);
}
#login .error {background: var(--error-color);}