/*----------GLOBAL VARIABLES------------*/
:root{
    --a-color: rgba(209, 125, 65, 0.5);
    --a-hover-color: rgba(210, 105, 30, 1);
}
/*----------MAIN SETTINGS------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background: none;
    color: black;
}
body{ background: lightsalmon; }
li{ list-style: none; }
a{ text-decoration: none; }
/*-------MAIN--------*/
.window{
    padding: 2% 0;
    margin: 15% auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 50%;
    background: rgba(210, 105, 30, 0.75);
    font-size: 24px;
    border: black dotted 5px;
    box-shadow: 10px 10px 10px rgb(100, 100, 100);
}