/*-------MAIN--------*/
.div-main{background: var(--div-main-bg-color);}
.info{ 
    padding: 10px;
    width: 100%;
    /*background: var(--a-div-bg-color);*/
}
/*-----FORM-----*/
.div-form{
    align-items: center;
    padding: 10px;
}
.div-form form{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
textarea{ /* nastavení pro textová pole */
    font-size: 16px;
    padding: 2px;
    resize: none;
    background: var(--text-area-color);
}
#submit{
    padding: 3px;
    font-size: 18px;
    text-transform: uppercase;
    background: var(--butt-bg-color);
}
/*-----BUTTONS-----*/
.ul-butts{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.ul-butts a{
    font-size: large;
    margin: 0 20px;
    padding: 10px;
    background: var(--a-bg-color);
    text-transform: uppercase;
    border: solid rgba(0, 0, 0, 0.3) 0.5px;
    border-radius: 8px;
}
/*-------CLASSES FOR JS--------*/
.ul-butts a.js-style{
    background: var(--a-hover-bg-color);
    color: var(--a-hover-color);
}