.ul-butts{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.ul-butts a{
    display: inline-flex;
    font-size: large;
    margin: 0 20px;
    padding: 10px;
    background: var(--a-color);
    text-transform: uppercase;
    border-radius: 5%;
    border: solid rgba(0, 0, 0, 0.3) 0.5px;
}
/*-------CLASSES FOR JS--------*/
.ul-butts a.js-style{
    background: var(--a-hover-color);
    color: beige;
}