/*-------MAIN-------*/
.sub{margin: 15px;}
.ul-butts{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.ul-butts a{
    font-size: large;
    margin: 0 20px;
    padding: 10px;
    background: var(--a-bg-color);
    text-transform: uppercase;
    border: solid rgba(0, 0, 0, 0.3) 0.5px;
    border-radius: 8px;
}
.ul-butts #main{font-weight: bold;}